@media screen and (max-width: 1262px){
.header-center ul li:nth-child(1){
	width: 300px;
	margin-left: -27px;
}
.header-center ul li:nth-child(1) a{
	text-decoration: none;
	font-style: italic;
	font-size: 18px;
}
.header-center ul li:nth-child(1) img{
height: 45px;
width: 45px;
margin-left: 0;
margin-top: 0;
}
.slider-product-one-content-bottom{
	margin: auto;
}

.header-center ul li:nth-child(2){
	position: relative;
	padding-left: 0;
	padding-top: 8px;
	margin-left: -100px;
	display: flex;
}
.header-center ul li:nth-child(2) input{
height: 30px;
width: 300px;
border: none;
padding-left: 100px;
outline: none;
}
.header-center ul li:nth-child(2) button:nth-child(1){
position: absolute;
height: 30px;
width: 90px;
cursor: pointer;
border: none;
}
.header-center ul li:nth-child(2) > i{
	background-color: white;
	height: 30px;
	padding: 8px;

	cursor: pointer;
	width: 30px;
	/*position: absolute;
	font-size: 10px;
	width: 50px;
	height: 30px;
	cursor: pointer;
	border: none;*/

}
.header-center ul li:nth-child(3) button{
	margin-top: 8px;
	width: 90px;
height: 30px;
padding: 5px;
cursor: pointer;
background-color: transparent;
color: white;
border: 1px solid rgb(70, 68, 68);
transition: all 0.3s ease;
}
.header-center ul li:nth-child(3) button i{
margin-right: 3px;
}
.header-center ul li:nth-child(3) button:hover{
	background-color: rgb(100, 97, 97);
}
.header-center ul li:nth-child(4){
	padding: 9px;
	margin-left: 50px;
}
.header-center ul li:nth-child(4) a{
	text-decoration: none;
	font-size: 15px;
}
.header-center ul li:nth-child(4) a:hover{
	color: black;
}
.header-center ul li:nth-child(5){
padding: 9px;
	margin-left: 5px;
}
.header-center ul li:nth-child(5) a{
	text-decoration: none;
		font-size: 15px;
}
.header-center ul li:nth-child(5) a:hover{
	color: black;
}
}
@media screen and (max-width: 1200px){
	.slider-content-right{
		margin: auto;
	}
}
@media screen and (max-width: 992px){
.section-trangchu1{
	display: none;
}
.slider-product-one-content-bottom{
	margin: auto;
}
.ngoai1 {
	display: none;
}
.ngoai2 {
	display: none;
}
.header-center ul li:nth-child(1){
	width: 250px;
	margin-left: -27px;
}
.header-center ul li:nth-child(1) a{
	text-decoration: none;
	font-style: italic;
	font-size: 14px;
}
.header-center ul li:nth-child(1) img{
height: 45px;
width: 40px;
margin-left: 0;
margin-top: 0;
}


.header-center ul li:nth-child(2){
	position: relative;
	padding-left: 0;
	padding-top: 8px;
	margin-left: -75px;
	display: flex;
}
.header-center ul li:nth-child(2) input{
height: 30px;
width: 250px;
border: none;
padding-left: 90px;
outline: none;
}
.header-center ul li:nth-child(2) button:nth-child(1){
position: absolute;
height: 30px;
width: 80px;
cursor: pointer;
border: none;
}
.header-center ul li:nth-child(2) > i{
	background-color: white;
	height: 30px;
	padding: 8px;

	cursor: pointer;
	width: 30px;
	/*position: absolute;
	font-size: 10px;
	width: 50px;
	height: 30px;
	cursor: pointer;
	border: none;*/

}
.header-center ul li:nth-child(3) button{
	margin-top: 8px;
	width: 87px;
height: 30px;
padding: 5px;
cursor: pointer;
background-color: transparent;
color: white;
border: 1px solid rgb(70, 68, 68);
transition: all 0.3s ease;
}
.header-center ul li:nth-child(3) button i{
margin-right: 3px;
}
.header-center ul li:nth-child(4){
	padding: 9px;
	margin-left: 30px;
}
.header-center ul li:nth-child(4) a{
	text-decoration: none;
	font-size: 13px;
}
.header-center ul li:nth-child(5){
padding: 9px 0px;
	margin-left: 3px;
}
.header-center ul li:nth-child(5) a{
	text-decoration: none;
		font-size: 13px;
}
}
@media screen and (max-width: 792px){
.header-center ul li:nth-child(1){
	display: none;
}
.slider-product-one-content-bottom{
	margin: auto;
}
.header-center ul li:nth-child(1) img{
height: 45px;
width: 40px;
margin-left: 0;
margin-top: 0;
}


.header-center ul li:nth-child(2){
	position: relative;
	padding-left: 0;
	padding-top: 8px;
	margin-left: 0px;
	display: flex;
}
.header-center ul li:nth-child(2) input{
height: 30px;
width: 180px;
border: none;
padding-left: 90px;
outline: none;
}
.header-center ul li:nth-child(2) button:nth-child(1){
position: absolute;
height: 30px;
width: 75px;
cursor: pointer;
border: none;
}
.header-center ul li:nth-child(2) > i{
	background-color: white;
	height: 30px;
	padding: 8px;

	cursor: pointer;
	width: 30px;
	/*position: absolute;
	font-size: 10px;
	width: 50px;
	height: 30px;
	cursor: pointer;
	border: none;*/

}
.header-center ul li:nth-child(3) button{
	margin-top: 8px;
	width: 87px;
height: 30px;
padding: 5px;
cursor: pointer;
background-color: transparent;
color: white;
border: 1px solid rgb(70, 68, 68);
transition: all 0.3s ease;
}
.header-center ul li:nth-child(3) button i{
margin-right: 3px;
}
.header-center ul li:nth-child(4){
	padding: 9px;
	margin-left: 30px;
}
.header-center ul li:nth-child(4) a{
	text-decoration: none;
	font-size: 13px;
}
.header-center ul li:nth-child(5){
padding: 9px 0px;
	margin-left: 3px;
}
.header-center ul li:nth-child(5) a{
	text-decoration: none;
		font-size: 13px;
}
.menu ul li{
padding:10px 6px;
position: relative;
}
.menu ul li a{
	color: red;
	font-size: 13px;
	text-decoration: none;
}
}
@media screen and (max-width: 768px){
	.slider-content-right{
		margin-top: -100px;
	}
	}